.categories {
    .container {
        align-items: flex-start;

        h1 {
            text-align: center;
            width: 100%;
            margin-bottom: 4rem;
        }

        ul {
            width: 100%;
            li {
                list-style: none;
                cursor: pointer;
                .desplegable {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0.5rem 1rem;
                    margin: 1rem;
                    border: 2px solid $primary-color-dark;
                    span {
                        font-size: 2.5rem;
                    }
                    .icon {
                        vertical-align: middle;
                        font-size: 2.5rem;
                    }
                }
            }
        }
    }
}

.container-targetas {
    display: none;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem; 
    max-width: inherit; 
    a {
        text-decoration: none;
        max-width: 100%;
        .targeta {
            display: flex;
            flex-direction: column;
            border-radius: 30px;
            background-color: white;
            margin: 1rem auto;
            overflow: hidden;
            max-width: 100%;
            width: 300px; 
            height: 475px;
        
            .multimedia {
              display: flex;
              justify-content: center;
              align-items: flex-start; 
              height: 70%;  
              overflow: hidden;
              background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), transparent);

              img {
                width: 100%; 
                height: 100%;  
                object-fit: cover; 
                object-position: top;
                border-radius: inherit;
              }
            }
            .img-gradient {
                /* Aplicar máscara con degradado ajustado */
                -webkit-mask-image: linear-gradient(to bottom, 
                rgba(0, 0, 0, 1) 80%, /* Mantiene opaco el 80% superior */
                rgba(0, 0, 0, 0) 100% /* Transparencia en el 20% final */
                );
                mask-image: linear-gradient(to bottom, 
                rgba(0, 0, 0, 1) 80%, 
                rgba(0, 0, 0, 0) 100%
                );
                -webkit-mask-repeat: no-repeat;
                mask-repeat: no-repeat;
                -webkit-mask-size: 100% 100%;
                mask-size: 100% 100%;
            }
        
            .texto {
                margin: 1rem;
                text-align: justify;
                height: 50%; 
                h3 {
                    margin-bottom: 1.5rem;
                    &:hover {
                        color: $secondary-color-dark;
                    }
                }
            }
        }
    }
}

// Estilos para móviles
@include responsive(mobile) {
    .categories {
        .container {
            width: 100vw;
            .desplegable {
                margin: 0.5rem;
            }
        }
    }
}

