.enlaces {
    .container {
        width: 100vw;
        ul {
            padding: 0.5rem;
            box-sizing: border-box;
            margin: 0;
            li {
                margin-bottom: 1rem;
                display: flex;
                flex-direction: column;
                .title {
                    font-weight: bolder;
                    font-size: 1.4rem;
                }
                .description,
                .link {
                    font-size: 1.2rem;
                }
                .link {
                    word-wrap: break-word; 
                    word-break: break-word; 
                    overflow-wrap: break-word; 
                    white-space: normal;
                }
                .link:hover {
                    color: $secondary-color-dark;
                    text-decoration: none;
                }
            }
        }
    }
}