.enlaces {
    .container {
        max-width: 100vw;
        box-sizing: border-box;
        ul {
            padding: 0;
            margin: 0;
            li {
                margin-bottom: 1rem;
                display: flex;
                flex-direction: column;
                .title {
                    font-weight: bolder;
                    font-size: 1.4rem;
                }
                .description,
                .link {
                    font-size: 1.2rem;
                    max-width: 100%;
                }
                .link:hover {
                    color: $secondary-color-dark;
                    text-decoration: none;
                }
            }
        }
    }
}