.enlaces {
    .container {
        max-width: 95vw;
        box-sizing: border-box;
        ul {
            max-width: 100%;
            li {
                margin: 1rem;
                .title {
                    font-weight: bolder;
                    font-size: 1.6rem;
                }
                .description,
                .link {
                    font-size: 1.2rem;
                }
                .link:hover {
                    color: $secondary-color-dark;
                    text-decoration: none;
                }
            }
        }

    }

}