.footer {
    background-color: $primary-color-dark;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .display-links {
      display: flex;
      flex-direction: column;
    }

    .display-row {
      display: flex;
      flex-direction: row;
    }
  
    .legal-links, 
    .social-networks,
    .app-nav-links {
      li {
        list-style-type: none;
        margin-right: 1rem;
        .footer-link {
          text-decoration: none;
          color: $primary-color-light;

          &:hover {
              color: $secondary-color-dark;
          }
        }
        .active-link {
          color: $secondary-color-dark;
        }
      }
    }

    .legal-links, 
    .app-nav-links {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      text-align: justify;
    }

    .social-networks {
      display: flex;
      width: 28vw;
    }

    .logo {
      width: 80px;
      height: auto;
    }
  
    // Estilos para móviles
    @include responsive(mobile) {
      padding: 2rem 1rem;
      font-size: 1rem;
      justify-content: space-around;
      .display-links {
        display: flex;
        flex-direction: row;
      }
      .legal-links,
      .app-nav-links {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: fit-content;
        li {
          margin-bottom: 0.5rem;
        }
      }
      .logo {
        display: none;
      }
    }

    // Estilos para tablets
    @include responsive(tablet) {
      padding: 1rem;
      font-size: 1.2rem;
      .display-links {
        display: flex;
        flex-direction: row;
      }
      .legal-links,
      .app-nav-links {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: fit-content;
        li {
          margin-bottom: 0.5rem;
        }
      }
    }
  
    // Estilos para escritorio pequeño
    @include responsive(small-desktop) {
      padding: 1.5rem;
      font-size: 1.5rem;
      .display-links {
        display: flex;
        flex-direction: row;
      }
      .legal-links,
      .app-nav-links {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: fit-content;
        li {
          margin-bottom: 0.5rem;
        }
      }
    }
  
    // Estilos para escritorio mediano
    @include responsive(medium-desktop) {
      padding: 2rem;
      font-size: 1.5rem;
    }
  
    // Estilos para escritorio grande
    @include responsive(large-desktop) {
      padding: 1.2rem 3rem;
      font-size: 1.3rem;
    }
  }