.header {
  background-color: $primary-color-dark;
  padding: 1.5rem;
  text-align: center;
  display: flex;
  justify-content: space-between;

  .logo-container {
    display: flex;
    h1 {
      font-family: "Playwrite GB S", cursive;
      color: $primary-color-light;
    }
  }

  nav {
    ul {
      height: 100%;
      display: flex;
      align-items: center;
      li {
        list-style-type: none;
        margin-right: 1rem;
        
        .nav-link {
          text-decoration: none;
          color: $primary-color-light;

          &:hover {
              color: $secondary-color-dark;
          }
        }

        .active-link {
          color: $secondary-color-dark;
        }
      }
    }
  }

  // Estilos para móviles
  @include responsive(mobile) {
    font-size: 1rem;
  }

  // Estilos para escritorio pequeño
  @include responsive(small-desktop) {
    font-size: 1.2rem;
  }

  // Estilos para escritorio mediano
  @include responsive(medium-desktop) {
    font-size: 1.4rem;
  }

  // Estilos para escritorio grande
  @include responsive(large-desktop) {
    font-size: 1.6rem;
  }
}