.header {
  background-color: $primary-color-dark;
  padding: 1rem;
  text-align: center;
  display: flex;
  justify-content: space-between;

  .logo-container {
    display: flex;

    align-items: center;
    h1 {
      font-family: "Playwrite GB S", cursive;
      color: $primary-color-light;
      height: fit-content;
      margin-left: 0.5rem;
    }
  }

  nav {
    ul {
      height: 100%;
      display: flex;
      align-items: center;
      li {
        list-style-type: none;
        margin-right: 1rem;
        
        .nav-link {
          text-decoration: none;
          color: $primary-color-light;

          display: inline-block;
          width: 140px;
          text-align: center;
          padding: 0.5rem;
          border-radius: 10px;

          &:hover {
            color: $primary-color-dark;
            background-color: $primary-color-light;
          }
        }

        .active-link {
          color: $primary-color-dark;
          background-color: $primary-color-light;
          font-weight: bolder;
        }
      }
    }
  }

  // Estilos para móviles
  @include responsive(mobile) {
    font-size: 1rem;
    .logo-container {
      display: flex;
      flex-direction: column;
      h1 {
        font-size: 1.3rem;
        font-weight: bolder;
      }
    }

    nav {
      ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        li {
          .nav-link {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
  // Estilos para tablets
  @include responsive(tablet) {
    font-size: 1.2rem;
    h1 {
      font-size: 1.7rem;
    }

    nav {
      ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }
  // Estilos para escritorio pequeño
  @include responsive(small-desktop) {
    font-size: 1.5rem;
    h1 {
      font-size: 1.9rem;
    }
  }
  // Estilos para escritorio mediano
  @include responsive(medium-desktop) {
    font-size: 1.5rem;
    h1 {
      font-size: 2.5rem;
    }
  }
  // Estilos para escritorio grande
  @include responsive(large-desktop) {
    font-size: 1.5rem;
    h1 {
      font-size: 2.5rem;
    }
  }
}