// Definir breakpoints
$mobile: 480px;
$tablet: 768px;
$small-desktop: 1024px;
$medium-desktop: 1280px;
$large-desktop: 1440px;

// Mixin para media queries
@mixin responsive($size) {
  @if $size == large-desktop {
    @media (min-width: ($medium-desktop + 1)) {
      @content;
    }
  }
  @else if $size == medium-desktop {
    @media (min-width: ($small-desktop + 1)) and (max-width: $medium-desktop) {
      @content;
    }
  }
  @else if $size == small-desktop {
    @media (min-width: ($tablet + 1)) and (max-width: $small-desktop) {
      @content;
    }
  }
  @else if $size == tablet {
    @media (min-width: ($mobile + 1)) and (max-width: $tablet) {
      @content;
    }
  }
  @else if $size == mobile {
    @media (max-width: $mobile) {
      @content;
    }
  }
}