section {
    background-color: $secondary-color-light;
    padding: 2rem;
    margin: 1.5rem 0;
    width: 100%;
    border-radius: 20px;

    .display-row {
        display: flex;
        text-align: justify;
    }

    img {
        width: 350px;
        height: auto;
        margin: 1rem;
    }
}