section {
    background-color: $secondary-color-light;
    padding: 2rem;
    margin: 1.5rem 0;
    width: 100%;
    border-radius: 20px;

    h2 {
        margin-bottom: 1rem;
    }

    .display-row {
        display: flex;
        text-align: justify;
        align-items: center;

        .multimedia {
            width: 150%;
            height: auto;


            img {
                max-width: 100%;
                height: auto;
            }
        }

        .text {
            margin: 0 1.5rem;
            p {
                margin: 1rem 0;
            }
        }
    }
}