section {
    background-color: $secondary-color-light;
    padding: 2rem;
    margin: 1.5rem 0;
    width: 100%;
    border-radius: 20px;

    h2 {
        margin-bottom: 1rem;
    }

    .display-section {
        display: flex;
        text-align: justify;
        align-items: center;

        .multimedia {
            width: 100%;
            height: auto;
            img {
                max-width: 100%;
                height: auto;
            }
        }

        .text {
            width: 100%;
            margin: 0 1.5rem;
            p {
                margin: 1rem 0;
            }
        }
    }
}

// Estilos para escritorio móviles
@include responsive(mobile) {
    section {
        width: 90vw;
        .display-section {
            display: flex;
            flex-direction: column;
        }
    }
}
// Estilos para escritorio pequeño
@include responsive(small-desktop) {
    section {
        width: 90vw;
        .display-section {
            display: flex;
            flex-direction: column;
        }
    }
}
// Estilos para escritorio mediano
@include responsive(medium-desktop) {
    section {
        width: 90vw;
        .display-section {
            display: flex;
            flex-direction: column;
        }
    }
}