@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@1,100&display=swap');
// Importar mixins y variables
@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/header';
@import 'partials/portada';
@import 'partials/categories';
@import 'partials/details';
@import 'partials/presentacion';
@import 'partials/footer';

*,
body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: $primary-color-dark;
  font-family: "Abel", sans-serif;
}

html, body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

body {
  background-color: $primary-color-light;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 2rem;
    width: 80vw;
    flex: 1;
  }

  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  p {
    font-size: 1.4rem;
  }
}

button {
  background: $secondary-color-dark;
  color: $secondary-color-light;
  border: none;
  position: relative;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
  margin: 0 0.3rem;
  text-align: center;

  &:hover {
    background: $secondary-color-light;
    color: $secondary-color-dark;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: $secondary-color-dark;
    transition: 400ms ease all;
  }

  &::after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
  }

  &:hover::before,
  &:hover::after {
    width: 100%;
    transition: 800ms ease all;
  }
}

.nav-link {
  text-decoration: none;
  color: $primary-color-dark;

  &:hover {
      color: $secondary-color-dark;
  }
}

.active-link {
  color: $secondary-color-dark;
}


